{% extends "pcrs/base.html" %}
{% load static %}

{% block scripts %}
    {{ block.super }}
    {% load static %}
    {% include "problems/code_problem_scripts.html" %}
    <script src="{% static "problems/js/FixitSubmissionWrapper.js" %}" type="text/javascript"></script>
    {% include "problems/visualizer_python_includes.html" %}
    <script src="{% static "content/js/events.js" %}"></script>
    {% load compress %}
    {% compress js %}
    <script src="{% static "visualizer/python/pytutor.js" %}" type="text/javascript"></script>
    <script src="{% static "visualizer/python/d3.v2.min.js" %}" type="text/javascript"></script>
    <script src="{% static "visualizer/python/jquery.jsPlumb-1.3.10-all-min.js" %}" type="text/javascript"></script> <!-- for rendering SVG connectors. DO NOT UPGRADE ABOVE 1.3.10 OR ELSE BREAKAGE WILL OCCUR -->
    <script src="{% static "visualizer/python/jquery-ui-1.8.24.custom.min.js" %}" type="text/javascript"></script> <!-- for sliders and other UI elements -->
    <script src="{% static "problems_multiple_choice/js/mc_submit.js" %}"
	    type="text/javascript"></script>
    <script src="{% static "problems_multiple_choice/js/mc_fixit_submit.js" %}"
	                type="text/javascript"></script>
    <script src="{% static "csrf_protection.js" %}" 
	    type="text/javascript"></script>
    <script src="{% static "problems/js/problems_helper.js" %}"
	    type-"text/javascript"></script>
    <script src="{% static "bootstrap_less/bootstrap-3.2.0/js/modal.js" %}"
	    type="text/javascript"></script>
    <script src="{% static "content/js/io_connection.js" %}"
	    type="text/javascript"></script>
    <script src="{% static "bootstrap_less/bootstrap-3.2.0/js/carousel.js" %}"></script> 
    <script src="{% static "content/build/future/components.js" %}"></script>
    <script src="{% static "content/build/reactive_content_page.js" %}"></script>
    <script src="{% static "problems_short_answer/js/short_answer.js" %}" 
	    type="text/javascript"></script>
    <script src="{% static "bootstrap_less/bootstrap-3.2.0/js/modal.js" %}" 
	    type="text/javascript"></script>
    {% endcompress %}
    {% include "pcrs/react_includes.html" %}
    {% include "pcrs/node_socket_io_includes.html" %}
    {% compress css %}
	<link rel="stylesheet" href="{% static "visualizer/python/pytutor.css" %}" type="text/css"/> 
	<link rel="stylesheet" href="{% static "visualizer/python/jquery-ui-1.8.24.custom.css" %}" type="text/css" /> 
    {% endcompress %}
{% endblock %}


{% block stylesheets %}

    {{ block.super }}
    {% include "problems/code_problem_stylesheets.html" %}  
    {% load compress %}
    {% compress css %}
	<link rel="stylesheet" href="{% static "less/challenge_page.css" %}">
    	<link rel="stylesheet" href="{% static "problems/css/style.css" %}">
	<link rel="stylesheet" href="{% static "less/submission.css" %}" >
    {% endcompress %}
{% endblock %}
{% block content %}

{% if not recommended_problems_content %}
    <h2>Looks like you have no more recommendations today. Refresh the page or check back tomorrow to see new recommendations!</h2>
{% endif %}
{% for problem in recommended_problems_content %}
    {% with problem=problem form=forms|get_item:problem.get_problem_type_name|get_item:problem.pk%}
    {% if problem.get_problem_type_name == 'multiple_choice' %}
    <div id="{{ problem.get_problem_type_name}}-{{problem.pk}}">
	    {% include "problems_multiple_choice/submission_widget.html" %}
    {% elif problem.get_problem_type_name == 'python' %}
	<div id="{{ problem.get_problem_type_name }}-{{ problem.pk}}" class="code-mirror-wrapper">
	    {% include "problems_python/submission_widget.html" %}
    {% elif problem.get_problem_type_name == 'short_answer' %}
    	<div id="{{ problem.get_problem_type_name}}-{{problem.pk}}">
    	    {% include "problems_short_answer/submission_widget.html" %}
    {% endif %}
	</div>
    {% endwith %}
{% endfor %}
{% endblock %}
